# Exercicis de Web Scraping.

# Exercici 1
Realitza web scraping de dues de les tres pàgines web proposades utilitzant BeautifulSoup primer i Selenium després.

http://quotes.toscrape.com

https://www.bolsamadrid.es

www.wikipedia.es (fes alguna cerca primer i escrapeja algun contingut)

### Beautiful Soup

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
#primer link
URL = "http://quotes.toscrape.com/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

Volem agafar cada una de les cites del link i afegir el nom del autol al final

In [3]:
results = soup.find(class_="container")

In [4]:
quote_elements = results.find_all("div", class_="quote")

In [5]:
for i in quote_elements:
  quote = i.find("span", class_="text") #Agafem el text de la cita.
  author = i.find("small", class_="author") #Agafem el nom del autor.
  print(quote.text, ", by", author.text)
  print()

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.” , by Albert Einstein

“It is our choices, Harry, that show what we truly are, far more than our abilities.” , by J.K. Rowling

“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.” , by Albert Einstein

“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” , by Jane Austen

“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.” , by Marilyn Monroe

“Try not to become a man of success. Rather become a man of value.” , by Albert Einstein

“It is better to be hated for what you are than to be loved for what you are not.” , by André Gide

“I have not failed. I've just found 10,000 ways that won't work.” , by Thomas A. Edison

“A woman is like a tea bag; you never know how strong it is until it's in hot water.” , by Eleanor Roosevelt

“A day without sunshine is like, you know, night.” , by Steve Martin

In [6]:
#Segon link
URL2 = "https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000"
page2 = requests.get(URL2)

soup2 = BeautifulSoup(page2.text, "lxml")

En aquest cas volem agafar la taula del Ibex35

In [7]:
table = soup2.find("table", id="ctl00_Contenido_tblAcciones")

In [9]:
#Com que l'etiqueta 'th' fa referència exclusivament a els noms de les columnes, les guardem en una llista per crear el df.
cols = []

for i in table.find_all('th'):
  cols.append(i.text)
cols

['Nombre',
 'Últ.',
 '% Dif.',
 'Máx.',
 'Mín.',
 'Volumen',
 'Efectivo (miles €)',
 'Fecha',
 'Hora']

In [10]:
#Creem el df i afegim les dades
df=pd.DataFrame(columns = cols)

for i in table.find_all('tr')[1:]:
  row_data = i.find_all('td') #Agafem la informació de cada cel·la.
  row = [j.text for j in row_data] #Ho agrupem en files
  df.loc[len(df)] = row #Afegim les files al df

df.head(10)

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"182,8000","-2,30","186,6000","181,2000",118.599,"21.720,10",26/09/2022,Cierre
1,ACCIONA ENER,"38,5600","-2,08","39,8400","38,0200",228.230,"8.801,14",26/09/2022,Cierre
2,ACERINOX,"8,2840","-0,02","8,4440","8,1300",1.053.723,"8.714,17",26/09/2022,Cierre
3,ACS,"22,0500","-0,36","22,3000","21,8000",617.497,"13.595,12",26/09/2022,Cierre
4,AENA,"109,2500","0,23","110,9000","108,0000",116.875,"12.792,59",26/09/2022,Cierre
5,AMADEUS,"46,5100","0,30","47,3000","45,8900",616.262,"28.739,19",26/09/2022,Cierre
6,ARCELORMIT.,"20,9500","-0,38","21,3750","20,6650",372.709,"7.824,08",26/09/2022,Cierre
7,B.SANTANDER,"2,4965","-1,11","2,5255","2,4665",55.292.452,"138.264,11",26/09/2022,Cierre
8,BA.SABADELL,"0,7662","-2,42","0,7830","0,7460",48.836.396,"37.342,22",26/09/2022,Cierre
9,BANKINTER,"5,9460","0,64","5,9840","5,8200",2.612.879,"15.455,01",26/09/2022,Cierre

### Selenium

In [11]:
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from selenium.webdriver.common.by import By
opts = webdriver.ChromeOptions()
opts.add_argument('--start-maximized')
opts.add_argument('--disable-extensions')

In [12]:
driver_path = (r"D:\David\Documents\anaconda3\chromedriver.exe")

driver= webdriver.Chrome(executable_path=driver_path, chrome_options = opts)

C:\Users\David\AppData\Local\Temp\ipykernel_29868\848091844.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(executable_path=driver_path, chrome_options = opts)
C:\Users\David\AppData\Local\Temp\ipykernel_29868\848091844.py:3: DeprecationWarning: use options instead of chrome_options
  driver= webdriver.Chrome(executable_path=driver_path, chrome_options = opts)

In [13]:
# Primer link
driver.get(URL)

Agafarem les mateixes dades que amb el mètode de Beautiful Soup

In [14]:
quotes = driver.find_elements(By.CLASS_NAME, "quote") # Agafem tota la informació de totes les cites
for i in quotes:
    quote = i.find_element(By.CLASS_NAME, "text") # Agafem el text de la cita
    author = i.find_element(By.CLASS_NAME, "author") #Agafem el nom de l'autor
    print(quote.text, ", ", author.text, "\n")

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.” ,  Albert Einstein

“It is our choices, Harry, that show what we truly are, far more than our abilities.” ,  J.K. Rowling

“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.” ,  Albert Einstein

“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” ,  Jane Austen

“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.” ,  Marilyn Monroe

“Try not to become a man of success. Rather become a man of value.” ,  Albert Einstein

“It is better to be hated for what you are than to be loved for what you are not.” ,  André Gide

“I have not failed. I've just found 10,000 ways that won't work.” ,  Thomas A. Edison

“A woman is like a tea bag; you never know how strong it is until it's in hot water.” ,  Eleanor Roosevelt

“A day without sunshine is like, you know, night.” ,  Steve Martin

In [15]:
# Segon link
driver.get(URL2)

In [16]:
cols= []

for i in driver.find_elements(By.TAG_NAME, 'th'):
    cols.append(i.text)
cols = cols[-9:]
cols

['Nombre',
 'Últ.',
 '% Dif.',
 'Máx.',
 'Mín.',
 'Volumen',
 'Efectivo (miles €)',
 'Fecha',
 'Hora']

In [17]:
df = pd.DataFrame(columns=cols)

table = driver.find_element(By.ID, 'ctl00_Contenido_tblAcciones') # Agafem tota la informació de la taula

data = []

for i in table.find_elements(By.TAG_NAME, 'td'): # Agafem cada una de les cel·les de la taula
    data.append(i.text) # Les guardem a una llista
    row = [data[x:x+len(cols)] for x in range(0, len(data), len(cols))] # Fem subllistes coincidint amb el nombre de columnes 
    
df = pd.DataFrame(row, columns=cols) # Afegim les files al df
df.head()

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"182,8000","-2,30","186,6000","181,2000",118.599,"21.720,10",26/09/2022,Cierre
1,ACCIONA ENER,"38,5600","-2,08","39,8400","38,0200",228.230,"8.801,14",26/09/2022,Cierre
2,ACERINOX,"8,2840","-0,02","8,4440","8,1300",1.053.723,"8.714,17",26/09/2022,Cierre
3,ACS,"22,0500","-0,36","22,3000","21,8000",617.497,"13.595,12",26/09/2022,Cierre
4,AENA,"109,2500","0,23","110,9000","108,0000",116.875,"12.792,59",26/09/2022,Cierre

# Exercici 2
Documenta en un Word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.

En aquest exercici aporofitarem la taula del ibex 35 que ja hem obtingut i la guardarem en un document docx

In [11]:
!pip install docx

Requirement already satisfied: docx in n:\anaconda3\lib\site-packages (0.2.4)
Requirement already satisfied: lxml in n:\anaconda3\lib\site-packages (from docx) (4.8.0)
Requirement already satisfied: Pillow>=2.0 in n:\anaconda3\lib\site-packages (from docx) (9.0.1)

In [7]:
from docx import Document

#Creem el document
document = Document()

#Afegim un títol
document.add_heading('Taula de IBEX 35', 0)

#Afegim la resta
document.add_heading('Context', 1)
document.add_paragraph('En aquesta taula podem veure les diferents comanyies que formen el IBEX 35 juntament amb les '+
'seves dades de mercat actualitzades en temps real.'  )

document.add_heading('Contingut', 1)
document.add_paragraph('Nombre: Nom de lempresa\n'+
                       'Últ.: Registre del preu més actual\n'+
                      '% Dif.: Diferència respecte les últimes 24h en percentatge\n'+
                      'Máx.: Preu màxim en les últimes 24h\n'+
                      'Mín.: Preu mínim en les últimes 24h\n'+
                      'Volúmen: Volum de les últimes 24h d\n'+
                      'Efectivo (miles €): Capitalització total\n'+
                      'Fecha: Data del registre\n'+
                      'Cierre: Estat del mercat\n')


document.save('IBEX 35.docx')

El document .docx es trobarà guardat en el mateix repositori amb el nom de 'IBEX 35.docx'

# Exercici 3
Tria una pàgina web que tu vulguis i realitza web scraping mitjançant la llibreria Selenium primer i Scrapy després.

### Selenium
Per aquest apartat hem escollit una pàgina per veure les vivendes en alquiles d'un barri determinat i s'ha agafat la informació del preu i del número de habitacions que tenen

In [21]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException, TimeoutException
import time
import re

In [22]:
#Fem una funcó per que agafi els valors de les habitacions de cada casa
def getHabsFromPage():
    #En aquesta pàgina cal fer scroll perque es carregui la informació de cada casa
    #Programem un scroll de 15 passos fins al peu de la pàgina
    for i in range (15):
        #Per algún motiu desconegut hi ha algunes cases que tenen una icona al costat de cada atribut
        #Això fa que no poguem recollir totes les habitacions perque poden tenir dos noms d'etiqueta diferents
        #Per això guardem la informació en dues llistes diferents i desprès les unim.
        iconList=[]
        noIconList=[]
        noIcons = driver.find_elements(By.CLASS_NAME, 're-CardFeatures-wrapper')
        icons = driver.find_elements(By.CLASS_NAME, 're-CardFeaturesWithIcons-wrapper')

        for casa in icons:
            nhab = casa.find_element(By.CLASS_NAME, 're-CardFeaturesWithIcons-feature').text
            iconList.append(nhab)

        for casa in noIcons:
            nhab = casa.find_element(By.CLASS_NAME,'re-CardFeatures-feature').text
            noIconList.append(nhab)

        ActionChains(driver).key_down(Keys.PAGE_DOWN).key_up(Keys.PAGE_DOWN).perform()
        time.sleep(0.4)

    l = iconList + noIconList
    return l

In [23]:
#Funció que fa scroll per la pagina i guarda la el preu en una llista
def getPricesFromPage():   
    for i in range (15):
        html_text = driver.page_source
        soup = BeautifulSoup(html_text)
        l=[]
        casas = soup.find_all('span', class_='re-CardPriceComposite')
        for casa in casas:
            price = casa.find('span', class_='re-CardPrice').getText()
            l.append(price)
        ActionChains(driver).key_down(Keys.PAGE_DOWN).key_up(Keys.PAGE_DOWN).perform()
        time.sleep(0.4)
    return l

In [24]:
#Funció per obtenir el número màxim de pàgines
def numPages():
    num =  driver.find_element(By.XPATH, '//*[@id="App"]/div[2]/div[1]/main/div/div[3]/ul/li[6]/a/span').text
    return num

In [26]:
driver.get('https://www.fotocasa.es/es/alquiler/viviendas/barcelona-capital/sants-montjuic/l')
p = getPricesFromPage()
h = getHabsFromPage()
num = int(numPages())

#Com que hi ha més pàgines, fem el mateix que abans pero iterant en cada una de les pàgines.
for i in range(2,num+1):
    driver.get(f'https://www.fotocasa.es/es/alquiler/viviendas/barcelona-capital/sants-montjuic/l/{i}')
    p = p + getPricesFromPage()
    h = h + getHabsFromPage()

In [31]:
df = pd.DataFrame(columns = ['Habitacions','Preu'])
df.Preu = p
df.Habitacions = h
df.head(10)

  Habitacions          Preu
0      1 hab.    890 € /mes
1     2 habs.  1.890 € /mes
2     2 habs.  1.600 € /mes
3      1 hab.  1.089 € /mes
4      1 hab.  1.300 € /mes
5     3 habs.  1.250 € /mes
6      1 hab.    850 € /mes
7     3 habs.  1.500 € /mes
8     3 habs.  1.250 € /mes
9     2 habs.  1.200 € /mes

### Scrapy
Per aquest apartat s'ha buscat els 100 més imprescindibles segons Goodreads i s'ha agafat el títol del llibre i el nom de l'autor/a

In [28]:
import scrapy
from scrapy.crawler import CrawlerProcess
import json

class JsonWriterPipeline(object):

    def open_spider(self, spider):
        self.file = open('bestBooks.jl', 'w')

    def close_spider(self, spider):
        self.file.close()

    def process_item(self, item, spider):
        line = json.dumps(dict(item)) + "\n"
        self.file.write(line)
        return item
    
import logging

class BooksSpider(scrapy.Spider):
    name = "books"
    start_urls = [
        'https://www.goodreads.com/list/show/264.Books_That_Everyone_Should_Read_At_Least_Once']
    custom_settings = {
        'LOG_LEVEL': logging.WARNING,
        'ITEM_PIPELINES': {'__main__.JsonWriterPipeline': 1}, # Used for pipeline 1
        'FEED_FORMAT':'json',                                 # Used for pipeline 2
        'FEED_URI': 'bestBooks.json'                        # Used for pipeline 2
    }
    
    def parse(self, response):
        for book in response.css('[itemtype="http://schema.org/Book"]'):
            yield {
                'Title': book.css('a.bookTitle span::text').extract_first(),
                'Author': book.css('a.authorName span::text').extract_first()
            }

In [29]:
process = CrawlerProcess({
    'USER_AGENT': 'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)'
})

process.crawl(BooksSpider)
process.start()

2022-09-26 21:48:06 [scrapy.utils.log] INFO: Scrapy 2.6.1 started (bot: scrapybot)
2022-09-26 21:48:06 [scrapy.utils.log] INFO: Versions: lxml 4.8.0.0, libxml2 2.9.12, cssselect 1.1.0, parsel 1.6.0, w3lib 1.21.0, Twisted 22.2.0, Python 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)], pyOpenSSL 21.0.0 (OpenSSL 1.1.1n  15 Mar 2022), cryptography 3.4.8, Platform Windows-10-10.0.19043-SP0
2022-09-26 21:48:06 [scrapy.crawler] INFO: Overridden settings:
{'LOG_LEVEL': 30,
 'USER_AGENT': 'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)'}
2022-09-26 21:48:06 [py.warnings] WARNING: D:\David\Documents\anaconda3\lib\site-packages\scrapy\extensions\feedexport.py:289: ScrapyDeprecationWarning: The `FEED_URI` and `FEED_FORMAT` settings have been deprecated in favor of the `FEEDS` setting. Please see the `FEEDS` setting docs for more details
  exporter = cls(crawler)

In [30]:
import pandas as pd
dfjson = pd.read_json('bestBooks.jl', lines=True)
dfjson

                                                Title              Author
0                               To Kill a Mockingbird          Harper Lee
1   Harry Potter and the Sorcerer's Stone (Harry P...        J.K. Rowling
2                                 Pride and Prejudice         Jane Austen
3                           The Diary of a Young Girl          Anne Frank
4                                         Animal Farm       George Orwell
..                                                ...                 ...
95                                     Atlas Shrugged            Ayn Rand
96                             The Brothers Karamazov   Fyodor Dostoevsky
97  The Book of Mormon: Another Testament of Jesus...           Anonymous
98                               The Poisonwood Bible  Barbara Kingsolver
99  I Know Why the Caged Bird Sings (Maya Angelou'...        Maya Angelou

[100 rows x 2 columns]